:root {
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #b2d2f9;
}

* {
    margin: 0;
    padding: 0;
}

body { /*Foi adicionado tudo isso no body, porque o body é pai de todos. Então tudo isso vai para os filhos dele.*/
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal { /*Depois tentar enteder porque ela fez isso aqui.*/
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat; /*Para não deixa a imagem com reflexo no site principal.*/
    background-size: contain; /*pra preencher*/
    align-items: center;
    text-align: center; /*Nesse caso além de centralizar os textos maiores, também centralizou os textos dos botões*/
    
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%; /*Literlamente divide a tela em 50%. */
}

.container__caixa {
    margin: 0 6em; /*o primeiro valor é o topo e embaixo, segundo valor são as laterais. Diferente do outro exemplo que tem 4 valores. O que isso quer dizer que tem varias maneiras de resolver essa situação.*/
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0; /*Primeiro cima, segundo direito, terceira o de baixo, quarto o da esquerda.*/
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em; /*Para dar uma borda no botão.*/
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em; /*SEPAROU OS BOTÕES*/
}

.container__botao:hover{ /*MUDAR A COR QUANDO PASSA O MOUSE/ PSEUDO CLASSE*/
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao__secundario {

    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none; /*Tira os pontos da lista.*/
    margin: 3em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);

}

.rodape {
    text-align: center;
    padding: 6em;
  
}

.rodape__logo {
    padding: 1em;

}

.rodape__lista {

    padding :1em;
    display: flex;

    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 300;
    list-style-type: none;

}

.lista__link a{ /*Porque foi adicionado esse a?*/
    padding: 1em;
    margin-left: 1em;
    text-decoration: none;
    display: flex;
    color: var(--branco-principal);
}

.lista__link a:hover{ /* pra quando passar o mouse em cima mudar de cor. ISSO É UMA VARIAVEL*/
    color:var(--botao-azul)
}

.lista__link a:active{ /*Quando aperta o botão com o mouse mudar de cor. ISSO É UMA VARIAVEL*/
    color: purple;
}

.rodape__texto {
    
    padding: 1em;;
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    font-size: 13px;
    font-weight: 400;
    
}


